html, body {
  height: 100%;
}

body {
  @extend .reset-ui;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Source Sans";
  src: url("/bower_components/topcoat/font/SourceSansPro-Bold.otf");
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  padding: 0 12px;
  flex-grow: 1;
  overflow: auto;
}

.people {
  padding: 8px;
}

.header {
  h1 { float: left; padding: 24px 12px; margin: 0; }
  background-color: #d3d7d7;
  border-bottom: 1px solid #a5a8a8;
  flex-shrink: 0;
}

person.you {
  font-weight: bold;
  color: red;
}

.person {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  font-size: 18px;

  img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.message {
  @extend .full;
  margin-top: 6px;
  font-weight: 400;

  &.event {
    color: #a5a8a8;
    font-weight: 600;
    .message-username::after { content: ''; }
  }
}

.message-username {
  font-weight: bold;
  &::after { content: ': '; }
}

.entry {
  flex-shrink: 0;
  padding: 12px;
  textarea { width: 100%;  }
}
